@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "HK Grotesk", sans-serif;
  background: #b4d9de;
  z-index: -2;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-desc {
  position: relative;
  border-bottom: 3px solid #008ecc;
  width: fit-content;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  padding-bottom: 14px;
  color: #666;
}
.section-desc strong {
  font-weight: 700;
  color: #008ecc;
  line-height: 30px;
}

.container {
  width: 100%;
  max-width: 1231px;
  margin: 0 auto;
}

.header__fixed {
  position: sticky;
  padding: 20px 0;
  top: -1px;
  z-index: 10;
  background: #b4d9de;
}

.top-bar,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar .logo__title,
.logo .logo__title {
  color: #000;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 0.75;
  margin-left: 13px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 16px;
  background: #f3f9fb;
  border-radius: 10px;
}
.search .search__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 507px;
  border: none;
  outline: none;
  background: #f3f9fb;
  margin-left: 10px;
  margin-bottom: -2px;
}

.action__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action__list .action__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action__list .action__icon {
  display: inline-block;
}
.action__list .action__desc {
  display: inline-block;
  margin-left: 6px;
  color: #666;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.12;
  white-space: nowrap;
}
.action__list .action__line {
  margin: 0 20px;
  width: 1px;
  height: 24px;
  background: #d9d9d9;
}

.navbar {
  margin-top: 25px;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.navbar__arown {
  width: 9px;
  height: 9px;
  border-left: 2px solid #008ecc;
  border-bottom: 2px solid #008ecc;
  transform: rotate(-45deg);
  margin-left: 6px;
  margin-top: -5px;
}
.navbar__item {
  width: auto;
  padding: 14px 14px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__item:hover {
  background: #008ecc;
}
.navbar__item:hover:hover .navbar__arown,
.navbar__item:hover .navbar__title {
  color: #fff;
  border-color: #fff;
}
.navbar__title {
  white-space: nowrap;
  display: flex;
  color: #222;
  font-size: 2rem;
  font-weight: 550;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

.menu-drawer {
  opacity: 0;
  position: fixed;
  inset: 0 0 0 40%;
  background-color: #fff;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.5s;
  overflow: auto; /* Cho phép cuộn dọc nếu nội dung quá dài */
  max-height: 100vh;
}

.icon__shop-close {
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.card__title {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.card__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 40px;
}
.card__item .card__input {
  width: 40px;
  height: 40px;
}
.card__item .card__remove {
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.card__item .card__item-desc {
  margin-top: 20px;
}

.total {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background: #008ecc;
  margin-right: -20px;
  margin-top: 30px;
  font-size: 2.4rem;
  font-weight: 600;
  height: 100px;
}

.card-wrapper {
  overflow: auto;
}

.total-wrap {
  position: sticky;
  bottom: 0;
}

.hero__left {
  padding: 40px 0;
  margin-left: 90px;
}
.hero__inner {
  white-space: nowrap;
  position: relative;
}
.hero__desc {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
.hero__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0;
}
.hero__sale {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}
.hero .hero__intro {
  color: #fff;
  font-size: 2rem;
  margin-top: 30px;
}
.hero__media {
  margin-right: 125px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.hero__media .hero__img {
  width: 300px;
  object-fit: contain;
  height: 300px;
}
.hero .hero__control {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero__list {
  width: 100%;
  display: flex;
  margin-top: 36px;
}

.hero__item {
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  background: #212844;
  flex-wrap: nowrap;
  width: 100%;
}

.product {
  margin-top: 70px;
}
.product .product__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 16px;
}
.product .product__list .product__item {
  padding: 15px 12px;
  width: 227px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: #f5f5f5;
  position: relative;
  transition: ease 0.5s all;
}
.product .product__list .product__item:hover {
  outline: 1px solid #008ecc;
  border-radius: 16px;
  transform: translateY(-20px);
}
.product .product__list .product__item .product__sale {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  width: 51px;
  height: 53px;
  border-radius: 0px 16px;
  background: #008ecc;
  color: #fff;
  padding: 10px 8px;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.14;
}
.product .product__list .product__item .product__thumb {
  width: 126px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product__list .product__item .product__thumb .product__img {
  object-fit: contain;
}
.product .product__list .product__item .product__content {
  background: inherit;
  margin-top: 12px;
}
.product .product__list .product__item .product__content .product__title {
  font-family: Poppins;
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.12;
  color: #222;
}
.product .product__list .product__item .product__content .product__price {
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.product .product__list .product__item .product__content .product__buy {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  background: #008ecc;
  color: #fff;
  border-radius: 13px;
  border: none;
  outline: none;
  margin-left: 15px;
  margin-top: 10px;
}
.product .product__list .product__item .product__content .product__buy:hover {
  opacity: 0.8;
  cursor: pointer;
}
.product .product__bottom {
  margin-top: 90px;
}
.product .product__bottom .product-cate__list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.product .product__bottom .product-cate__list .product-cate__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product .product__bottom .product-cate__list .product-cate__item .product-cate__item-wrap {
  background-color: #f5f5f5;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product__bottom .product-cate__list .product-cate__item .product-cate__title {
  color: var(--text-black);
  margin-top: 20px;
}

.toast {
  box-shadow: 4px 11px 87px 41px rgba(0, 0, 0, 0.1);
  transition: ease 0.5s;
  position: fixed;
  z-index: 100;
  top: 102px;
  right: 15px;
  transform: translateX(115%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid greenyellow;
  color: #000;
  width: 250px;
  height: 70px;
  background-color: #fff;
}
.toast .toast-body {
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast .icon-msg {
  width: 30px;
  height: 30px;
}

.slider {
  margin-top: 90px;
}

.slider__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__list {
  margin-top: 40px;
  display: flex;
  column-gap: 16px;
}
.slider__list .slider__item:nth-child(2) {
  background: #fff3cc;
}
.slider__list .slider__item:nth-child(2) .slider__name {
  background: #f6de8d;
  color: #222222;
}
.slider__list .slider__item:nth-child(2) .slider__sale {
  z-index: 2;
  color: #000;
}
.slider__list .slider__item:nth-child(2) .slider__decor {
  border-color: #fff3cc;
  outline-color: #f6de8d;
  background: #f6de8d;
}
.slider__list .slider__item:nth-child(3) {
  background: #ffecdf;
}
.slider__list .slider__item:nth-child(3) .slider__name {
  color: #222222;
  background: #ffd1b0;
}
.slider__list .slider__item:nth-child(3) .slider__sale {
  color: #000;
}
.slider__list .slider__item:nth-child(3) .slider__decor {
  border-color: #ffecdf;
  outline-color: #ffd1b0;
  background: #ffd1b0;
}

.slider__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 389px;
  height: auto;
  background: #313131;
  border-radius: 16px;
  padding: 20px;
  overflow: hidden;
}
.slider__item:hover .slider__media-img {
  transform: scale(1.2);
}
.slider__item:hover .slider__decor {
  top: 187px;
  right: 259px;
}
.slider__item .slider__media-img {
  transition: ease all 0.7s;
}
.slider__item .slider__decor {
  z-index: 1;
  transition: ease all 0.7s;
  position: absolute;
  width: 226px;
  top: -43px;
  right: -40px;
  height: 226px;
  border-radius: 50%;
  background: #414141;
  outline: 2px solid #414141;
  border: 5px solid #313131;
}
.slider__item .slider__item-left .slider__name {
  font-size: 1.4rem;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 1.4px;
  color: #fff;
  margin-bottom: 30px;
  padding: 9px 20px;
  text-align: center;
  background: #494949;
}
.slider__item .slider__item-left .slider__logo {
  width: 114px;
  z-index: 2;
  position: relative;
  height: 67px;
  object-fit: contain;
  margin-top: 30px;
}
.slider__item .slider__item-left .slider__sale {
  color: #fff;
  z-index: 4;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 60px;
  position: relative;
}
.slider__item .slider__media-right {
  width: 152px;
  height: 185px;
  z-index: 1;
}

.slider__dots {
  margin: 30px auto;
  display: flex;
  column-gap: 20px;
}
.slider__dots .slider__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
}
.slider__dots .slider__dot-active {
  background: #008ecc;
}

.daily {
  margin-top: 90px;
  padding-bottom: 150px;
}
.daily__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.daily__list .daily__item {
  cursor: pointer;
  margin-top: 2.5rem;
  text-align: center;
}
.daily__list .daily__item:hover .daily__img {
  transform: scale(1.3);
}
.daily__list .daily__item:hover .daily__img-wrap {
  border: 1px solid #008ecc;
}
.daily__list .daily__item .daily__img-wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 16px;
  background: #f5f5f5;
}
.daily__list .daily__item .daily__img-wrap .daily__img {
  transition: ease all 0.5s;
  object-fit: contain;
}
.daily__list .daily__item .daily__desc {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #666666;
}
.daily__list .daily__item .daily__sale {
  font-size: 2rem;
  color: #222;
  font-weight: 700;
  line-height: 1;
}

footer {
  background-color: #0082c6;
  color: white;
  padding: 40px 0;
}

.footer-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1231px;
  margin: 0 auto;
}

.footer-column {
  padding: 0 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.footer-column ul {
  list-style-type: disc;
  margin-left: 20px;
}

.footer-column ul li {
  margin-bottom: 10px;
  font-size: 1rem;
}

.contact-us p,
.download-app p {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.download-app a img {
  width: 120px;
  margin-right: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 1.25;
}

.logo {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-column hr {
  border-width: 2px;
  border-color: aliceblue;
  border-style: solid;
  margin: 10px 0;
  opacity: 0.5;
}

hr {
  border-color: rgba(25, 163, 225, 0.8);
}

.footer__icon-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.footer__icon {
  fill: #fff;
}

.footer__strong {
  margin-left: 27px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.container__parent {
  background-color: #b4d9de;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.logo-login {
  color: #000;
  display: block;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 30px;
}

.container-login {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  min-height: 600px;
}

.container-login p {
  font-size: 2rem;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container-login span {
  font-size: 12px;
  margin: 30px 0;
}

.login__heading {
  color: #525252;
  font-family: Hanken Grotesk;
  font-size: 2.8rem;
  font-weight: 600;
}

.container-login button {
  background-color: #4db9c7;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container-login button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container-login form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.form__group {
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form__input {
  padding: 15px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 12px;
  width: 100%;
  font-size: 1.8rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-login.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-login.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.container-login.active .toggle-container {
  transform: translateX(-100%);
}

.toggle {
  background-color: #b4d9de;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #b4d9de);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.login__toggle {
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
}

.container-login.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container-login.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container-login.active .toggle-right {
  transform: translateX(200%);
}

.form__group {
  position: relative;
}
.form__group .input__text {
  position: absolute;
  top: 26px;
  font-size: 2rem;
  left: 30px;
  transition: ease-in-out 0.4s;
}

.form__input:focus + .input__text, .form__input:valid + .input__text {
  transform: translate(182px, -35px);
  letter-spacing: 3px;
  background: #000;
  color: #fff;
  padding: 6px;
  font-size: 2.2rem;
}

/*# sourceMappingURL=main.css.map */
