.daily {
    margin-top: 90px;
    padding-bottom: 150px;
    &__list {
        display: flex;
        column-gap: 10px;
        justify-content: center;
        align-items: center;
        .daily__item {
            cursor: pointer;
            margin-top: 2.5rem;
            &:hover {
                .daily__img {
                    transform: scale(1.3);
                }
                .daily__img-wrap {
                    border: 1px solid #008ecc;
                }
            }
            text-align: center;
            .daily__img-wrap {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                height: 180px;
                border-radius: 16px;
                background: #f5f5f5;
                .daily__img {
                    transition: ease all 0.5s;
                    object-fit: contain;
                }
            }
            .daily__desc {
                margin-top: 20px;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.25;
                color: var(--text-color-grey);
            }
            .daily__sale {
                font-size: 2rem;
                color: #222;
                font-weight: 700;
                color: var(--text-color-grey);
                line-height: 1;
            }
        }
    }
}
