// Sử dụng biến màu trong các class
%flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__fixed {
    @extend %flexCenter;
    position: sticky;
    padding: 20px 0;
    top: -1px;
    z-index: 10;
    background: var(--background);
}

.top-bar,
.logo {
    @extend %flexCenter;
    .logo__title {
        color: var(--text-color-dark);
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 0.75;
        margin-left: 13px;
    }
}

.search {
    @extend %flexCenter;
    padding: 15px 16px;
    background: var(--text-color-light);
    border-radius: 10px;
    .search__input {
        @extend %flexCenter;
        width: 507px;
        border: none;
        outline: none;
        background: var(--search-background);
        margin-left: 10px;
        margin-bottom: -2px;
    }
}

.action__list {
    @extend %flexCenter;
    .action__item {
        @extend %flexCenter;
    }
    .action__icon {
        display: inline-block;
    }
    .action__desc {
        display: inline-block;
        margin-left: 6px;
        color: var(--text-color-grey);
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.12;
        white-space: nowrap;
    }
    .action__line {
        margin: 0 20px;
        width: 1px;
        height: 24px;
        background: var(--border-color);
    }
}

.navbar {
    margin-top: 25px;
    &__list {
        @extend %flexCenter;
        gap: 14px;
    }
    &__item {
        &:hover {
            background: var(--primary-color);
            &:hover .navbar__title {
                color: var(--text-color-light);
                // border-color: var(--hover-color);
            }
        }
        @extend %flexCenter;
        width: auto;
        padding: 14px 14px;
        border-radius: 18px;
    }

    &__title {
        white-space: nowrap;
        display: flex;
        color: var(--text-color-dark);
        font-size: 2rem;
        font-weight: 550;
    }
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: var(--overlay-background);
    z-index: 1;
    display: none;
}

.menu-drawer {
    opacity: 0;
    position: fixed;
    inset: 0 0 0 40%;
    background-color: var(--menu-bg);
    z-index: 2;
    transform: translateX(100%);
    transition: all 0.5s;
    overflow: auto; /* Cho phép cuộn dọc nếu nội dung quá dài */
    max-height: 100vh;
}
.card__title-desc {
    color: var(--menu-text);
}
.icon__shop-close {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.card__title {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.card__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 40px;
    .card__input {
        width: 40px;
        height: 40px;
    }
    .card__remove {
        font-size: 2rem;
        color: var(--card-remove-color);
        cursor: pointer;
    }
    .card__item-desc {
        margin-top: 20px;
    }
}
.card__price {
    color: var(--menu-text);
}
.total {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--menu-text);
    background: var(--primary-color);
    margin-right: -20px;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: 600;
    height: 100px;
}

.card-wrapper {
    overflow: auto;
}

.total-wrap {
    position: sticky;
    bottom: 0;
}

// theme
.control {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .control__dark,
    .control__light {
        color: var(--icon-filter);
        position: absolute;
        cursor: pointer;
        transition: all ease 0.6s;
    }
    .control__light {
        display: none;
    }
    .control__dark {
        display: block;
    }
}
