@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__fixed {
    position: sticky;
    padding: 20px 0;
    top: -1px;
    z-index: 10;
    background: #fff;
    
}
.top-bar,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo__title {
        color: #000;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 0.75;
        margin-left: 13px;
    }
}

.search {
    @include flexCenter;
    padding: 15px 16px;
    background: #f3f9fb;
    border-radius: 10px;
    .search__input {
        @include flexCenter;
        width: 507px;
        border: none;
        outline: none;
        background: #f3f9fb;
        margin-left: 10px;
        margin-bottom: -2px;
    }
}
.action__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .action__icon {
        display: inline-block;
    }
    .action__desc {
        display: inline-block;
        margin-left: 6px;
        color: #666;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.12;
        white-space: nowrap;
    }
    .action__line {
        margin: 0 20px;
        width: 1px;
        height: 24px;
        background: #d9d9d9;
    }
}

.navbar {
    margin-top: 25px;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
    }
    &__arown {
        width: 9px;
        height: 9px;
        border-left: 2px solid #008ecc;
        border-bottom: 2px solid #008ecc;
        transform: rotate(-45deg);
        margin-left: 6px;
        margin-top: -5px;
    }
    &__item {
        &:hover {
            background: #008ecc;
            &:hover .navbar__arown,
            .navbar__title {
                color: #fff;
                border-color: #fff;
            }
        }
        // position: relative;
        width: auto;
        padding: 9px 14px;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        white-space: nowrap;
        display: flex;
        color: #222;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.28;
    }
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000, $alpha: 0.4);
    z-index: 1;
    display: none;
}
.menu-drawer {
    opacity: 0;
    position: fixed;
    inset: 0 0 0 40%;
    background-color: #fff;
    z-index: 2;
    transform: translateX(100%);
    transition: all 0.5s;
    overflow: auto; /* Cho phép cuộn dọc nếu nội dung quá dài */
    max-height: 100vh;
}
.icon__shop-close {
    width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

.card__title {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.card__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 40px;
    .card__input {
        width: 40px;
        height: 40px;
    }
    .card__remove {
        font-size: 2rem;
        color: red;
        cursor: pointer;
    }
    .card__item-desc {
        margin-top: 20px;
    }
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 50px;
    position: sticky;
    bottom: 0;
    height: 100px;
    right: 0;
}
.card-wrapper {
    overflow: auto;

}
