.hero {
    $primary-color-white: #fff;
    margin-top: 36px;
    width: 100%;
    border-radius: 16px;
    background: #212844;
    &__left {
        padding: 40px 0;
        margin-left: 90px;
    }
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__desc {
        color: $primary-color-white;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1;
    }
    &__heading {
        color: $primary-color-white;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
        margin: 20px 0;
    }
    &__sale {
        color: $primary-color-white;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 73px;
    }
    .hero__dots {
        display: flex;
        column-gap: 10px;
        .hero__dot {
            width: 8px;
            height: 8px;
            background: #fff;
            border-radius: 50%;
        }
    }

    &__media {
        margin-right: 125px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .hero__control {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    .hero__control-next {
        position: absolute;
        right: -42px;
        top: 50%;
        transform: translateY(-50%);
    }
    .hero__control-prev{
        position: absolute;
        left: -42px;
        top: 50%;
        transform: translateY(-50%);
    }
}


