@forward "./header";
@forward "./footer";
@forward "./daily";
@forward "./product";
@forward "./slider";
@forward "./hero";
@forward "./signin";
@forward "./infoUser";
@forward "./buttonDarkmode";
@forward "./cart";
@forward "./news";
