// User
.form__user {
    opacity: 0;
    visibility: hidden;
    border-radius: 12px;
    display: flex;
    transition: all ease 0.5s;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 50%;
    translate: 50% 40%;
    right: 50%;
    width: 50%;
    height: auto;
    padding: 40px;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

    .icon__user {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
    }
    .form__group {
        display: flex;
        flex-direction: column;
    }
    .form__label {
        margin-bottom: 10px;
        font: {
            size: 2rem;
            weight: 700;
        }
    }
    .form__input-user {
        padding: 10px;
        border-radius: 3px;
        background: #fff;
    }
    .menu-btn {
        padding: 10px;
        background: aquamarine;
        border-radius: 40px;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000;
        &:hover {
            cursor: pointer;
        }
    }
}


.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
    background-color: #006aff;
    border: 8px solid #c0dfff;
    color: white;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}
.text {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.svg {
    padding-top: 5px;
    height: 100%;
    width: fit-content;
}
.svg svg {
    width: 50px;
    height: 30px;
}
.menu-btn:hover {
    border: 8px solid #b1d8ff;
    background-color: #1b7aff;
}
.menu-btn:active {
    border: 5px solid #c0dfff;
}
.menu-btn:hover .svg svg {
    animation: jello-vertical 0.9s both;
    transform-origin: left;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
