.product {
    margin-top: 70px;
    .product__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        column-gap: 16px;
        .product__item {
            padding: 15px 12px;
            width: 227px;
            height: 300px;

            display: flex;
            align-items: center;
            flex-direction: column;

            border-radius: 16px;
            background: #f5f5f5;
            position: relative;
            transition: ease 0.5s all;
            &:hover {
                outline: 1px solid #008ecc;
                border-radius: 16px;
                transform: translateY(-20px);
            }
            .product__sale {
                position: absolute;
                top: 0;
                z-index: 1;
                right: 0;
                width: 51px;
                height: 53px;
                border-radius: 0px 16px;
                background: #008ecc;
                color: #fff;
                padding: 10px 8px;
                text-align: center;
                font-family: Poppins;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.14;
            }
            .product__thumb {
                width: 126px;
                height: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                .product__img {
                    object-fit: contain;
                }
            }
            .product__content {
                background: inherit;
                margin-top: 12px;
                .product__title {
                    font-family: Poppins;
                    white-space: nowrap;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.12;
                    color: #222;
                }
                .product__price {
                    font-weight: 500;
                    margin-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;
                }
                .product__buy {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    height: 30px;
                    background: #008ecc;
                    color: #fff;
                    border-radius: 13px;
                    border: none;
                    outline: none;
                    margin-left: 15px;
                    margin-top: 10px;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .product__bottom {
        margin-top: 90px;
        .product-cate__list {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 30px;
            .product-cate__item {
                display: flex;
                align-items: center;
                flex-direction: column;
                .product-cate__item-wrap {
                    background-color: #f5f5f5;
                    width: 145px;
                    height: 145px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .product-cate__title {
                    color: var(--text-black);
                    margin-top: 20px;
                }
            }
        }
    }
}

.toast {
    box-shadow: 4px 11px 87px 41px rgba(0, 0, 0, 0.1);
    transition: ease 0.5s;
    position: fixed;
    z-index: 100;
    top: 102px;
    right: 15px;
    transform: translateX(115%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid greenyellow;
    color: #000;
    width: 250px;
    height: 70px;
    // border-radius: 16px;
    background-color: #fff;
    .toast-body {
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-msg {
        width: 30px;
        height: 30px;
    }
}
