%flexCenter {
    display: flex;
    align-items: center;
}
.product {
    margin-top: 70px;
    &__list {
        margin-top: 40px;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        row-gap: 30px;
    }
    &__item {
        padding: 15px 12px;
        width: 227px;
        height: 380px;
        @extend %flexCenter;
        flex-direction: column;
        border-radius: 16px;
        background: var(--product-bg-color);
        position: relative;
        transition: ease 0.5s all;

        &:hover {
            outline: 1px solid var(--primary-color);
            border-radius: 16px;
            transform: translateY(-20px);
        }
    }
    &__thumb {
        width: 126px;
        height: 245px;
        @extend %flexCenter;
        object-fit: cover;
        justify-content: center;
    }
    &__img {
        object-fit: contain;
        width: 126px;
        height: 180px;
    }

    &__content {
        margin-top: 12px;
        @extend %flexCenter;
        flex-direction: column;
    }
    &__title {
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.12;
        color: var(--product-text-color-title);
    }

    &__price {
        font-weight: 500;
        color: var(--product-price-color);
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border-color);
    }
    &__buy {
        padding: 10px;
        @extend %flexCenter;
        justify-content: center;
        width: 150px;
        height: 30px;
        background: var(--primary-color);
        color: var(--text-color-light);
        border-radius: 13px;
        border: none;
        outline: none;
        margin-top: 10px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &__sale {
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: -9px;
            width: 6px;
            height: 30%;
            background: #086a99;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
        position: absolute;
        top: 0;
        z-index: 1;
        left: -6px;
        width: 111px;
        height: 32px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background: var(--primary-color);
        color: var(--text-color-light);
        padding: 10px 8px;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.14;
    }
}

.product__bottom {
    margin-top: 90px;

    .product-cate__list {
        margin-top: 40px;
        @extend %flexCenter;
        justify-content: space-between;
        column-gap: 30px;

        .product-cate__item {
            @extend %flexCenter;
            flex-direction: column;
            cursor: pointer;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .product-cate__item-wrap {
                background-color: var(--product-bg-color);
                width: 145px;
                height: 145px;
                border-radius: 50%;
                @extend %flexCenter;
                justify-content: center;
            }

            .product-cate__title {
                color: var(--product-text-color-title);
                margin-top: 20px;
            }
        }
    }
}
.product-cate__img {
    transition: all ease 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}
.pb {
    padding-bottom: 100px;
    height: 100px;
    width: 100vw;
}

.toast {
    box-shadow: 4px 11px 87px 41px rgba(0, 0, 0, 0.1);
    transition: ease 0.5s;
    position: fixed;
    z-index: 100;
    top: 102px;
    right: 15px;
    transform: translateX(115%);
    @extend %flexCenter;
    justify-content: center;
    border-bottom: 5px solid var(--toast-border-color);
    color: var(--toast-text-color);
    width: 250px;
    height: 70px;
    background-color: var(--toast-background);

    .toast-body {
        column-gap: 10px;
        @extend %flexCenter;
        justify-content: center;
    }

    .icon-msg {
        width: 30px;
        height: 30px;
        filter: var(--icon-filter);
    }
}
#phoneSection,
#ElecSection,
#MyPhamSection,
#NoiThatSection {
    display: none;
}
.icon-wrap {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    .goBack {
        filter: var(--icon-filter);
        width: 50px;
        height: 50px;
    }
    span {
        font: {
            weight: 700;
            size: 1.8rem;
        }
        color: var(--text-color-grey);
    }
}

.act-block {
    display: block !important;
}
