*,
::before,
::after {
    box-sizing: border-box;
    border: none;
    outline: none;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "HK Grotesk", sans-serif;
    background: var(--background);
    z-index: -2;
    transition: all ease 0.3s;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    background: transparent;
}
