*,
::before,
::after {
    box-sizing: border-box;
    border: none;
    outline: none;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "HK Grotesk", sans-serif;
    background: #b4d9de;
}

a {
    color: inherit;
    text-decoration: none;
}
